
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="{{ url_for('index') }}">
        <img
          src="{{ url_for('static', filename='images/logo2.png')}}"
          height="50"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          
        </ul>
        <!-- Left links -->
        {% if current_user.is_authenticated %}
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"
              class="rounded-circle"
              height="30px"
              width="35px"
              alt="{{current_user.username}}"
              loading="lazy"
            />{{current_user.username}}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="{{ url_for('new_pitch') }}">New Pitch</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('account') }}">My Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
        
        {% else %}
  
        <div class="d-flex align-items-center">
          <a href="{{ url_for('login') }}"><button type="button" class="btn btn-link px-3 me-2">
            Login
          </button></a>
          <a href="{{ url_for('register') }}"><button type="button" class="btn btn-primary me-3">
            Register
          </button></a>
          
        </div>
        {% endif %}
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
